.container {
  height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url('https://charitism-campaigns.s3.ap-south-1.amazonaws.com/charitism-v2/campaign-details/27bafb3c-0dda-48ca-b720-53184a4aa693');
}

.form_Container {
  width: 32.938rem;
  height: 41.875rem;
  padding: 3.125rem 3.563rem 3.125rem 3.438rem;
  border-radius: 10px;
  backdrop-filter: blur(7px);
  box-shadow: 0 52px 54px 0 rgba(65, 62, 101, 0.25);
  background-color: rgba(0, 0, 0, 0.44);
  transform: translate(60%, 4%);
}
